@page
@model ChirpSocial.Pages_Posts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Post Details</h1>

<div class="">
    <hr />
    <dl>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Profile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Profile.ProfileUserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.PostContent)
        </dt>
        <dd class="col-sm-10 lead">
            @Html.DisplayFor(model => model.Post.PostContent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.PostDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.PostDate)
        </dd>
    </dl>
</div>
<div>
    <dl>
        @foreach (var r in Model.Post.Replies) //Error "Object reference not set to an instance of an object"
        {
            <div class="border-top border-primary">
                <dt class="col-sm-10">
                    @Html.DisplayFor(model => r.Profile.ProfileUserName)
                </dt>
                <dd class="col-sm-10 lead">
                    @Html.DisplayFor(model => r.ReplyContent)
                </dd>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => r.ReplyDate)
                </dd>
            </div>
        }
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Post?.PostID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
